{% extends 'base.html.twig' %}

{% block title %}Hello MainController!
{% endblock %}

{% block body %}


	
	 
	 
	 {# cards ONE#}
	 <section class="card1">
	 <div class="container"><div class="row row-cols-1 row-cols-md-3 g-4">
<div class="col">
	<div class="card h-100">
		<img src="{{asset ('ressources/images/jo.jpg')}}" class="card-img-top" alt="Skyscrapers"/>
		<div class="card-body">
			<h5 class="card-title">Card title</h5>
			<p class="card-text">
				This is a wider card

			</p>
		</div>
		<div class="card-footer">
			<small class="text-muted">Last updated 3 mins ago</small>
		</div>
	</div>
</div>
<div class="col">
	<div class="card h-100">
		<img src="{{asset ('ressources/images/danphoto.jpg')}}" class="card-img-top" alt="Los Angeles Skyscrapers"/>
		<div class="card-body">
			<h5 class="card-title">Card title</h5>
			<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
		</div>
		<div class="card-footer">
			<small class="text-muted">Last updated 3 mins ago</small>
		</div>
	</div>
</div>
<div class="col">
	<div class="card h-100">
		<img src="{{asset ('ressources/images/broke.jpg')}}" class="card-img-top" alt="Palm Springs Road"/>
		<div class="card-body">
			<h5 class="card-title">Card title</h5>
			<p class="card-text">
				This is a wider card with supporting text below as a natural lead-in to

			</p>
		</div>
		<div class="card-footer">
			<small class="text-muted">Last updated 3 mins ago</small>
		</div>
	</div>
</div>
</div>
</div>
</section>

{# CARDE TWO #}

<section class="cards2">


<div class="container"><div class="row row-cols-1 row-cols-md-3 g-4">
<div class="col">
	<div class="card h-100">
		<img src="{{asset ('ressources/images/jo.jpg')}}" class="card-img-top" alt="Skyscrapers"/>
		<div class="card-body">
			<h5 class="card-title">Card title</h5>
			<p class="card-text">
				This is a wider card

			</p>
		</div>
		<div class="card-footer">
			<small class="text-muted">Last updated 3 mins ago</small>
		</div>
	</div>
</div>
<div class="col">
	<div class="card h-100">
		<img src="{{asset ('ressources/images/danphoto.jpg')}}" class="card-img-top" alt="Los Angeles Skyscrapers"/>
		<div class="card-body">
			<h5 class="card-title">Card title</h5>
			<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
		</div>
		<div class="card-footer">
			<small class="text-muted">Last updated 3 mins ago</small>
		</div>
	</div>
</div>
<div class="col">
	<div class="card h-100">
		<img src="{{asset ('ressources/images/broke.jpg')}}" class="card-img-top" alt="Palm Springs Road"/>
		<div class="card-body">
			<h5 class="card-title">Card title</h5>
			<p class="card-text">
				This is a wider card with supporting text below as a natural lead-in to

			</p>
		</div>
		<div class="card-footer">
			<small class="text-muted">Last updated 3 mins ago</small>
		</div>
	</div>
</div>
</div>
</div>

</section>



{# card for #}

<section class="cards3">


<div class="container"><div class="row row-cols-1 row-cols-md-3 g-4">
<div class="col">
	<div class="card h-100">
		<img src="{{asset ('ressources/images/jo.jpg')}}" class="card-img-top" alt="Skyscrapers"/>
		<div class="card-body">
			<h5 class="card-title">Card title</h5>
			<p class="card-text">
				This is a wider card

			</p>
		</div>
		<div class="card-footer">
			<small class="text-muted">Last updated 3 mins ago</small>
		</div>
	</div>
</div>
<div class="col">
	<div class="card h-100">
		<img src="{{asset ('ressources/images/danphoto.jpg')}}" class="card-img-top" alt="Los Angeles Skyscrapers"/>
		<div class="card-body">
			<h5 class="card-title">Card title</h5>
			<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
		</div>
		<div class="card-footer">
			<small class="text-muted">Last updated 3 mins ago</small>
		</div>
	</div>
</div>
<div class="col">
	<div class="card h-100">
		<img src="{{asset ('ressources/images/broke.jpg')}}" class="card-img-top" alt="Palm Springs Road"/>
		<div class="card-body">
			<h5 class="card-title">Card title</h5>
			<p class="card-text">
				This is a wider card with supporting text below as a natural lead-in to

			</p>
		</div>
		<div class="card-footer">
			<small class="text-muted">Last updated 3 mins ago</small>
		</div>
	</div>
</div>
</div>
</div>

</section>







{% endblock %}
